* {
    box-sizing: border-box;
}

body {
    font-family: "Vend Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

.jumbotron {
    padding: 60px;
    text-align: center;
    background-color: rgb(42, 255, 91);
    font-size: 18px
}

nav {
    background-color: rgb(45, 216, 85);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-inline: 3rem;
}

nav ul li {
    list-style-type: none;
    padding: 15px;
    min-width: 200px;
    text-align: center;
}

nav ul li:hover {
    background-color: rgb(42, 255, 91);
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

nav ul li a[href^="https"] {
    color: rgb(0, 61, 244);
}

main {
    display: flex;
    padding: 25px;
    gap: 25px;
}

aside {
    text-align: center;
    flex: 2;
}

table th {
    text-align: start;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    
    gap: 2rem;

}

#content img {
    width: 100%;
}

.card {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
}

h2 {
    color: rgb(45, 216, 85);
}

footer {
    text-align: center;
    padding: 25px;
    background-color: rgb(42, 255, 91);
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column wrap;
    }

    nav ul {
        flex-flow: row wrap;
        padding-inline: 0;
    }

    nav ul li {
        flex: 0 0 50%;
        width: 50%;
        min-width: unset;

    }
}
